.titulo{
    color: bisque;
    font-size: large;
}
.head{
    color: blue;
}
.color{
    color: aliceblue;
    color: aquamarine;
    color: beige;
    color: chartreuse;
    color: cadetblue;

}
.color:hover{
    column-gap: normal;
    color: bisque;
    column-gap: normal;

}
.color:hover{
    column-gap: normal;
    color: bisque;
    column-gap: normal;
}
.titulorepo{
    color: bisque;
    font-size: large;
}